<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.worthington.android.maven.search"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:description="@string/app_description"
        android:icon="@drawable/centralrepository_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".activities.Main"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Screen resizing on keyboard: http://developer.android.com/resources/articles/on-screen-inputs.html -->
        <activity android:name=".activities.MainAdvancedSearch" />
        <activity android:name=".activities.RealSearchResults" />
        <activity android:name=".activities.TestSearchResults" />
        <activity android:name=".activities.Preferences" />
        <activity android:name=".activities.ArtifactDetails" />
        <activity android:name=".activities.PomViewActivity" />
        <activity android:name=".activities.ArtifactFileListActivity" />
    </application>

</manifest>